/* VARIABLES */
* {
  box-sizing: border-box;
}
:root {
  --topblue: #0693e3ff;
  --bottomblue: #8ed1fcff;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  width: 100vmin;
}
#screen_welcome {
  width: 99vmin;
  padding: 0;
  margin: 0;
  height: 100vmin;
}
.welcome_grid {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.tophalf {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: loos-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2vw;
}
.ocean {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background: #3c31dd;
}
a {
  font-family: loos-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}
p {
  font-family: loos-normal, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.5rem;
}

/* chervon arrow */
.container {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 75vh;
  left: 50vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  margin-top: 75px;
  text-align: center;
  color: #fff;
  text-decoration-line: none;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*  */

.waves {
  width: 99vmin;
  display: flex;
  align-items: flex-end;
}
.top_svgwave {
  width: 100%;
  position: absolute;
  height: 110%;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  overflow-x: hidden;
}
.bottom_svgwave {
  width: 100%;
  position: absolute;
  z-index: 9;
  transform: scaleX(-1);
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  overflow-x: hidden;
}

@-webkit-keyframes run {
  0% {
    width: 100%;
  }
  50% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}

/* OCEAN */
#screen_ocean {
  width: 100vw;
  /* display: block; */
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  background: rgb(142, 209, 252);
  background: linear-gradient(
    180deg,
    #8ed1fc 0%,
    #37a5e7 30%,
    #0693e3 70%,
    #000000 100%
  );
  height: auto;
}

.fullscreen {
  position: relative;
  overflow: hidden;
}
.depth_sizing {
  width: 100vw;
  height: 10vmin;
  margin-bottom: 2vw;
  color: white;
  font-size: 3vw;
}
.hidden {
  display: none;
}
.zero {
  margin-top: 0px;
}
.rope {
  width: 0.2vw;
  height: 125vw;
  background-color: rgb(211, 211, 211);
  float: right;
  margin-right: 5vw;
}
.textbox {
  padding-bottom: unset;
  height: auto;
  width: 20vw;
  text-align: left;
}
.textbox h2 {
  font-family: loos-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}
.textbox p {
  font-family: loos-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}
/* COUNTER */
#counter {
  width: 20vmin;
  height: 10vmin;
  border: white solid 2px;
  position: fixed;
  top: 20 vh;
  left: 0;
  font-size: 2rem;
}
#counter h3 {
  opacity: 1;
}
/* SPERM */
.tenn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.sperm-wrapper {
  position: relative;
  margin-left: 30vw;
}
.sperm {
  display: flex;
  flex-direction: row;
}
.ani_sperm {
  animation: sperm infinite ease-in-out;
  animation-duration: 6s;
  animation-delay: 0.5s;

  /* animation-iteration-count: 1; */
}

@keyframes sperm {
  0%,
  100% {
    transform: translateY(0);
    scale: 1;
  }
  25% {
    transform: translateY(-1vh);
    scale: 1.1;
  }
  50% {
    transform: translateY(0);
    scale: 1;
  }
  75% {
    transform: translateY(-1vh);
    scale: 1.1;
  }
}

.sperm img:nth-child(1) {
  height: 35vh;
  width: auto;
}
.sperm img:nth-child(2) {
  height: 25vh;
  margin-top: 5vh;
  width: auto;
  transform: scaleX(-1);
}

/* zzz */
.container2 {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  color: lightgrey;
}

.z {
  position: relative;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 6s ease-out infinite;
}

.z:first-child {
  animation: move 6s ease-out 2s infinite;
}

.z:nth-child(2) {
  animation: move 6s ease-out 4s infinite;
}

.z:before,
.z:after {
  content: " ";
  position: absolute;
  top: 0;
}

.z:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.z:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.boxsperm_wrapper {
  position: relative;
  margin-left: 3vw;
}
.ani_boxsperm {
  animation: boxsperm ease-out forwards;
  animation-duration: 3s;
  transform-origin: right center;
  animation-delay: 0.5s;
}

@keyframes boxsperm {
  0% {
    transform: scale(0.4);
    opacity: 0.7;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  75% {
    transform: scale(0.9);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* DIVER */
.diver-wrapper {
  width: max-content;
  position: relative;
  margin-left: -20vw;
}

.ani_diver {
  animation: diver forwards ease-out;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
}

@keyframes diver {
  0% {
    transform: translatex(-20vw);
  }
  100% {
    transform: translateX(40vw);
  }
}

.diver img {
  height: 10vh;
  width: auto;
}
/* FREEDVIER */

.freediver-wrapper {
  width: max-content;
  position: relative;
  float: right;
}

.ani_freediver {
  animation: freediver;
  animation-duration: 5s;
  transform-origin: bottom center;
  transform-style: preserve-3D;
  animation-delay: 0.5s;

  /* animation-iteration-count: 1; */
}

@keyframes freediver {
  0% {
    transform: translateY(-40vh);
  }
  100% {
    transform: translateY(0vh);
  }
}

.freediver img {
  height: 35vh;
  float: right;
  transform: scaleX(-1);
  width: auto;
}

.freediver .textbox {
  opacity: 0;
}
.ani_freediverbox {
  animation: freediverbox forwards;
  animation-duration: 2s;
  transform-origin: bottom center;
  transform-style: preserve-3D;
  animation-delay: 0.5s;
}

@keyframes freediverbox {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* SQUID */

.squid-wrapper {
  width: max-content;
  position: relative;
}

.ani_squid {
  animation: squid ease-out forwards;
  animation-duration: 10s;
  transform-origin: right center;
  animation-iteration-count: 2;
  animation-delay: 0.5s;
}
@keyframes squid {
  0%,
  100% {
    transform: translatex(-10vw) rotate(90deg) scale(1);
    filter: invert(100%) sepia(95%) saturate(412%) hue-rotate(301deg)
      brightness(111%) contrast(87%);
  }
  20% {
    transform: translatex(-5vw) rotate(90deg) scale(1.2);
    filter: invert(87%) sepia(22%) saturate(275%) hue-rotate(158deg)
      brightness(100%) contrast(91%);
  }
  30% {
    transform: translatex(0vw) rotate(45deg) scale(1);
    filter: invert(99%) sepia(14%) saturate(6817%) hue-rotate(177deg)
      brightness(101%) contrast(92%);
  }
  40% {
    transform: translatex(0vw) rotate(0deg) scale(1);
    filter: invert(99%) sepia(14%) saturate(6817%) hue-rotate(177deg)
      brightness(101%) contrast(92%);
  }
  50% {
    transform: translatex(0vw) rotate(-45deg) scale(1);
    filter: invert(99%) sepia(14%) saturate(6817%) hue-rotate(177deg)
      brightness(101%) contrast(92%);
  }
  60% {
    transform: translatex(-5vw) rotate(-90deg) scale(1.2);
    filter: invert(87%) sepia(22%) saturate(275%) hue-rotate(158deg)
      brightness(100%) contrast(91%);
  }
  70% {
    transform: translatex(-5vw) rotate(-45deg) scale(1.2);
    filter: invert(87%) sepia(22%) saturate(275%) hue-rotate(158deg)
      brightness(100%) contrast(91%);
  }
  80% {
    transform: translateX(-10vw) rotate(0deg) scale(1);
    filter: invert(99%) sepia(14%) saturate(6817%) hue-rotate(177deg)
      brightness(101%) contrast(92%);
  }
}
.squid img {
  height: 15vh;
  width: auto;
  margin-left: 35vw;
  transform: rotate (45deg);
}
.ani_boxsquid {
  animation: boxsquid ease-out forwards;
  animation-duration: 3s;
  transform-origin: right center;
  margin-left: 20vw;
  animation-delay: 0.5s;
}
@keyframes boxsquid {
  0% {
    /* transform: scale(0); */
    opacity: 0;
    transform: translatey(-5vh);
  }
  100% {
    /* transform: scale(1); */
    opacity: 1;
    transform: translatey(0vh);
  }
}

/* ANGLER */
.eight-fifty {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.angler-wrapper {
  width: max-content;
  position: relative;
  margin-left: 20vw;
  display: flex;
}

.ani_angler {
  animation: angler forwards;
  animation-duration: 5s;
  transform-origin: bottom center;
  transform-style: preserve-3D;
  animation-delay: 0.5s;
}
.angler {
  display: flex;
  justify-content: flex-end;
}
@keyframes angler {
  0% {
    transform: translatex(-10vw);
  }
  100% {
    transform: translatex(12vw);
  }
}

.anglerimg {
  width: 15vw;
  height: auto;
}

.angler_light {
  background-color: yellow;
  z-index: 10;
  width: 3vmin;
  height: 3vmin;
  position: absolute;
  border-radius: 50% 50%;
}
.ani_light {
  animation: light ease-in-out infinite;
  animation-duration: 4s;
  transform-origin: bottom center;
  transform-style: preserve-3D;
}

@keyframes light {
  0%,
  100% {
    background-color: rgb(226, 245, 157);
    transform: scale(0.9);
  }
  25% {
    background-color: yellow;
    transform: scale(1);
    box-shadow: 2px 2px 8px #e6ff33;
  }
  50% {
    background-color: rgb(226, 245, 157);
    transform: scale(0.9);
  }
  75% {
    background-color: yellow;
    transform: scale(1);
    box-shadow: 2px 2px 8px #e6ff33;
  }
}

.ani_boxangler {
  animation: boxangler ease-out forwards;
  animation-duration: 3s;
  animation-delay: 0.5s;

  transform-origin: right center;
  margin-left: 20vw;
}

@keyframes boxangler {
  0% {
    transform: translateX(15vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.boxangler span {
  animation: bio infinite 2s;
  animation-duration: 2s;
  transform-origin: bottom center;
  transform-style: preserve-3D;
}

@keyframes bio {
  0%,
  100% {
    color: rgb(226, 245, 157);
    text-shadow: 2px 2px 8px #e6ff33;
  }
  50% {
    color: rgb(253, 253, 0);
  }
}
.h3_wrapper1 {
  right: -12.5vw;
  position: relative;
}
h3 {
  font-family: loos-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  animation-name: h3;
  opacity: 0;
}
.ani_h3 {
  animation: title linear forwards;
  animation-duration: 2s;
  transform-origin: center;
  animation-delay: 0.2s;
}
@keyframes title {
  0% {
    font-size: 2vw;
    opacity: 0;
  }
  50% {
    font-size: 2.5vw;
    opacity: 0.5;
  }

  100% {
    font-size: 3vw;
    opacity: 1;
  }
}
