/* VARIABLES */
:root {
  --topblue: #0693e3ff;
  --bottomblue: #8ed1fcff;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  padding: 0;
  margin: 0;
  width: 100vmin;
}
#screen_welcome {
  width: 99vmin;
  padding: 0;
  margin: 0;
  height: 100vmin;
}
.welcome_grid {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.tophalf {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ocean {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  background: #3c31dd;
}
/* chervon arrow */
.container {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 75vh;
  left: 50vw;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: black;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  margin-top: 75px;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;

  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*  */

.waves {
  width: 99vmin;
  display: flex;
  align-items: flex-end;
}
.top_svgwave {
  width: 100%;
  position: absolute;
  height: 110%;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  overflow-x: hidden;
}
.bottom_svgwave {
  width: 100%;
  position: absolute;
  z-index: 9;
  transform: scaleX(-1);
  animation: linear infinite;
  animation-name: run;
  animation-duration: 8s;
  overflow-x: hidden;
}

@-webkit-keyframes run {
  0% {
    width: 100%;
  }
  50% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}

/* OCEAN */
#screen_ocean {
  width: 100vw;
  /* display: block; */
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  background: rgb(142, 209, 252);
  background: linear-gradient(
    180deg,
    #8ed1fc 0%,
    #37a5e7 30%,
    #0693e3 70%,
    #000000 100%
  );
  height: auto;
}

.fullscreen {
  position: relative;
  overflow: hidden;
}
.depth_sizing {
  width: 100vw;
  height: 10vmin;
  border: white solid 2px;
  margin-bottom: 2vw;
  color: white;
  font-size: 3vw;
}
.hidden {
  display: none;
}
.freediver {
  width: max-content;
  position: relative;
  float: right;
  padding-right: 5vw;
  /* top: -50vh; */
}

.ani_freediver {
  animation: freediver ease-in 0.5s forwards;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

@keyframes freediver {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 60vh);
  }

  100% {
    transform: translate(0, 150vh);
  }
}

.freediver img {
  height: 35vh;
  width: auto;
}
